<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>People</key>
	<array>
		<dict>
			<key>Name</key>
			<string>Oritas</string>
            <key>Last</key>
            <string>Metalus</string>
			<key>Email</key>
			<string>Oscar@aol.com</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Rhinoz</string>
            <key>Last</key>
            <string>Vanrix</string>
			<key>Email</key>
			<string>Alex@aol.com</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Egafix</string>
            <key>Last</key>
            <string>Limboz</string>
			<key>Email</key>
			<string>Togaf@aol.com</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Idio</string>
            <key>Last</key>
            <string>Umboox</string>
			<key>Email</key>
			<string>Tom3@aol.com</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Osxis</string>
            <key>Last</key>
            <string>Naras</string>
			<key>Email</key>
			<string>Tom77@aolcom</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Anoar</string>
            <key>Last</key>
            <string>Korax</string>
			<key>Email</key>
			<string>Tom4@aolcom</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Returax</string>
            <key>Last</key>
            <string>Opius</string>
			<key>Email</key>
			<string>Tom5@aolcom</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Snartae</string>
            <key>Last</key>
            <string>Yusnae</string>
			<key>Email</key>
			<string>Tom6@aolcom</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Evilac</string>
            <key>Last</key>
            <string>Kitraeo</string>
			<key>Email</key>
			<string>Tom7@aolcom</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Sawex</string>
            <key>Last</key>
            <string>Wikoz</string>
			<key>Email</key>
			<string>Tom8@aolcom</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Tuesdax</string>
            <key>Last</key>
            <string>Loparmos</string>
			<key>Email</key>
			<string>Tom9@aolcom</string>
		</dict>
	</array>
</dict>
</plist>
